# A Brief Introduction to Python
## Infrastrukturen Engineering
## HafenCity Universit√§t Hamburg (HCU)
### The University Of The Built Environment And Metropolitan Development

## Modul: BIW-M-211-100 Energie-Infrastructur
## Instructors:
### Prof. Dr.-Ing. Ingo Weidlich
### Pakdad Pourbozorgi Langroudi

In [ ]:
try:
  from google.colab import drive
  IN_COLAB=True
except:
  IN_COLAB=False

if IN_COLAB:
  print("We're running Colab")

if IN_COLAB:
  # Mount the Google Drive at mount
  mount='/content/gdrive'
  print("Colab: mounting Google drive on ", mount)

  drive.mount(mount)

  # Switch to the directory on the Google Drive that you want to use
  import os
  drive_root = mount + "/MyDrive/MyCourses"
  
  # Create drive_root if it doesn't exist
  create_drive_root = True
  if create_drive_root:
    print("\nColab: making sure ", drive_root, " exists.")
    os.makedirs(drive_root, exist_ok=True)
  
  # Change to the directory
  print("\nColab: Changing directory to ", drive_root)
  %cd $drive_root
  if os.path.isdir(drive_root+'/Energieinfrastruktur'):
    drive_root = drive_root+'/Energieinfrastruktur'
    %cd $drive_root
    ! git pull
  else:
    ! git clone https://github.com/pakdad/Energieinfrastruktur.git
    drive_root = drive_root+'/Energieinfrastruktur'
    %cd $drive_root

# Pandas

## Reading the file

In [1]:
import numpy as np
import pandas as pd

In [2]:
%config Completer.use_jedi = False

In [3]:
df = pd.read_csv('Data/multi_regression.csv', delimiter=",", nrows=100)

In [7]:
df.head()

   Unnamed: 0   Age  Temperature  Flow_Rate  Pipe_type
0           0  10.0        118.0     8973.0          1
1           1  10.0        120.8     9223.0          1
2           2  10.0        119.6     8988.0          1
3           3  11.0        115.4     9223.0          1
4           4  11.0        122.2     9225.0          1

In [8]:
df = pd.read_csv('Data/multi_regression.csv', delimiter=",", nrows=100, index_col=0)

In [9]:
df.head()

    Age  Temperature  Flow_Rate  Pipe_type
0  10.0        118.0     8973.0          1
1  10.0        120.8     9223.0          1
2  10.0        119.6     8988.0          1
3  11.0        115.4     9223.0          1
4  11.0        122.2     9225.0          1

In [10]:
df.tail()

     Age  Temperature  Flow_Rate  Pipe_type
95  29.0        105.0     5899.0          1
96  29.0         95.8     6020.0          1
97  29.0         99.6     6311.0          1
98  30.0        103.4     6350.0          1
99  30.0         97.2     5727.0          1

## Quick look into the data

In [11]:
df.columns

Index(['Age', 'Temperature', 'Flow_Rate', 'Pipe_type'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          100 non-null    float64
 1   Temperature  100 non-null    float64
 2   Flow_Rate    100 non-null    float64
 3   Pipe_type    100 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 3.9 KB

In [13]:
df.describe()

              Age  Temperature    Flow_Rate  Pipe_type
count  100.000000   100.000000   100.000000      100.0
mean    19.900000   109.460000  7550.470000        1.0
std      5.816209     6.472974   885.333726        0.0
min     10.000000    95.800000  5727.000000        1.0
25%     15.000000   104.700000  6903.250000        1.0
50%     20.000000   109.700000  7508.500000        1.0
75%     25.000000   114.400000  8219.750000        1.0
max     30.000000   122.200000  9225.000000        1.0

## Indexing
iloc indexes based on the order of the rows.

In [14]:
df.iloc[9]

Age              12.0
Temperature     119.2
Flow_Rate      8610.0
Pipe_type         1.0
Name: 9, dtype: float64

loc indexes based on the index of the rows.

In [15]:
df.loc[9]

Age              12.0
Temperature     119.2
Flow_Rate      8610.0
Pipe_type         1.0
Name: 9, dtype: float64

In [16]:
df.iloc[0:2]

    Age  Temperature  Flow_Rate  Pipe_type
0  10.0        118.0     8973.0          1
1  10.0        120.8     9223.0          1

In [17]:
df.iloc[[1, 12, 40]]

     Age  Temperature  Flow_Rate  Pipe_type
1   10.0        120.8     9223.0          1
12  12.0        116.6     8741.0          1
40  18.0        108.0     7620.0          1

In [18]:
df.loc[[1, 12, 40]]

     Age  Temperature  Flow_Rate  Pipe_type
1   10.0        120.8     9223.0          1
12  12.0        116.6     8741.0          1
40  18.0        108.0     7620.0          1

## Selecting Columns

In [19]:
df["Age"]

0     10.0
1     10.0
2     10.0
3     11.0
4     11.0
      ...
95    29.0
96    29.0
97    29.0
98    30.0
99    30.0
Name: Age, Length: 100, dtype: float64

In [20]:
df.Age

0     10.0
1     10.0
2     10.0
3     11.0
4     11.0
      ...
95    29.0
96    29.0
97    29.0
98    30.0
99    30.0
Name: Age, Length: 100, dtype: float64

In [21]:
df[["Age", "Temperature"]]

     Age  Temperature
0   10.0        118.0
1   10.0        120.8
2   10.0        119.6
3   11.0        115.4
4   11.0        122.2
..   ...          ...
95  29.0        105.0
96  29.0         95.8
97  29.0         99.6
98  30.0        103.4
99  30.0         97.2

[100 rows x 2 columns]

## Boolean Indexing

In [22]:
df["Temperature"] > 120

0     False
1      True
2     False
3     False
4      True
      ...
95    False
96    False
97    False
98    False
99    False
Name: Temperature, Length: 100, dtype: bool

In [25]:
df[df["Temperature"] > 120].head()

     Age  Temperature  Flow_Rate  Pipe_type
1   10.0        120.8     9223.0          1
4   11.0        122.2     9225.0          1
7   11.0        120.6     8946.0          1
17  13.0        120.6     8174.0          1

We can also multiple conditions at the same time.<br />
We're going to need bitwise operators in order to do this.<br />
The ones that we often use are & | ~, corresponding to and, or, and not respectively.

In [26]:
cond1 = df["Temperature"] > 120
cond2 = df["Age"] == 11.0

df[cond1 & cond2].head()

    Age  Temperature  Flow_Rate  Pipe_type
4  11.0        122.2     9225.0          1
7  11.0        120.6     8946.0          1

In [27]:
df_new = df[cond1 & cond2]

In [28]:
df_new

    Age  Temperature  Flow_Rate  Pipe_type
4  11.0        122.2     9225.0          1
7  11.0        120.6     8946.0          1

## Difference between iloc and loc

In [32]:
df_new.iloc[0]

Age              11.0
Temperature     122.2
Flow_Rate      9225.0
Pipe_type         1.0
Name: 4, dtype: float64

In [33]:
df_new.loc[0]

KeyError: 0

## Dropping Columns

In [34]:
df = pd.read_csv('Data/multi_regression.csv', delimiter=",", nrows=100)

In [35]:
df.head()

   Unnamed: 0   Age  Temperature  Flow_Rate  Pipe_type
0           0  10.0        118.0     8973.0          1
1           1  10.0        120.8     9223.0          1
2           2  10.0        119.6     8988.0          1
3           3  11.0        115.4     9223.0          1
4           4  11.0        122.2     9225.0          1

In [37]:
df.drop(columns=["Unnamed: 0", "Flow_Rate"])

     Age  Temperature  Pipe_type
0   10.0        118.0          1
1   10.0        120.8          1
2   10.0        119.6          1
3   11.0        115.4          1
4   11.0        122.2          1
..   ...          ...        ...
95  29.0        105.0          1
96  29.0         95.8          1
97  29.0         99.6          1
98  30.0        103.4          1
99  30.0         97.2          1

[100 rows x 3 columns]

## Dropping rows

In [38]:
df.drop([2,5], axis=0)

    Unnamed: 0   Age  Temperature  Flow_Rate  Pipe_type
0            0  10.0        118.0     8973.0          1
1            1  10.0        120.8     9223.0          1
3            3  11.0        115.4     9223.0          1
4            4  11.0        122.2     9225.0          1
6            6  11.0        116.8     8995.0          1
..         ...   ...          ...        ...        ...
95          95  29.0        105.0     5899.0          1
96          96  29.0         95.8     6020.0          1
97          97  29.0         99.6     6311.0          1
98          98  30.0        103.4     6350.0          1
99          99  30.0         97.2     5727.0          1

[98 rows x 5 columns]

## Creating new columns

In [39]:
df["Built Year"] = 1850
df.tail()

    Unnamed: 0   Age  Temperature  Flow_Rate  Pipe_type  Built Year
95          95  29.0        105.0     5899.0          1        1850
96          96  29.0         95.8     6020.0          1        1850
97          97  29.0         99.6     6311.0          1        1850
98          98  30.0        103.4     6350.0          1        1850
99          99  30.0         97.2     5727.0          1        1850

In [40]:
df["Built Year"] = 2021 - df["Age"]
df

    Unnamed: 0   Age  Temperature  Flow_Rate  Pipe_type  Built Year
0            0  10.0        118.0     8973.0          1      2011.0
1            1  10.0        120.8     9223.0          1      2011.0
2            2  10.0        119.6     8988.0          1      2011.0
3            3  11.0        115.4     9223.0          1      2010.0
4            4  11.0        122.2     9225.0          1      2010.0
..         ...   ...          ...        ...        ...         ...
95          95  29.0        105.0     5899.0          1      1992.0
96          96  29.0         95.8     6020.0          1      1992.0
97          97  29.0         99.6     6311.0          1      1992.0
98          98  30.0        103.4     6350.0          1      1991.0
99          99  30.0         97.2     5727.0          1      1991.0

[100 rows x 6 columns]

## Statistics

In [41]:
df["Age"].mean()

19.9

In [42]:
df["Age"].std()

5.816208630051267

In [43]:
df["Age"].sum()

1990.0

In [44]:
df["Age"].min()

10.0

In [45]:
df["Age"].max()

30.0

# Exercise 8: Create a dataframe tha shows the values of the list of dictionaries in list name_list

In [ ]:
# importing the list_name data
import pickle

with open ('Data/list_name.pickle', 'rb') as names:
    name_list = pickle.load(names)